@page
@model MicroFund.Pages.Judge.Scorecards.PitchScorecardModel
@{
    ViewData["Title"] = "Pitch Scorecard";
}

<h1>Pitch Scorecard</h1>
<hr />
<div class="container-fluid">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="text" class="form-control" name="PitchId" value="@Model.PitchId" hidden/>
            <div class="row">
                <div class="col-sm-2">
                    <label class="font-weight-bold">Description</label>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-1">
                    <label class="font-weight-bold">Score</label>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-7">
                    <label class="font-weight-bold">Comment</label>
                </div>
            </div>
            <hr />
            @foreach (var field in Model.ScoreCardFields)
            {
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>@field.ScoreCardFieldDescription</label>
                    </div>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1">
                        <input class="form-control" type="number" min="0" max="10" name="@(Model.score = field.ScoreCardFieldDescription + "Score")" />
                    </div>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-7">
                        <textarea class="form-control" name="@(Model.comment = field.ScoreCardFieldDescription + "Comment")" style="height: 100px;" required></textarea>
                    </div>
                </div>
                <hr />
            }
            <button type="submit" class="btn btn-dark float-right">Save Scorecard</button>
        <br />
        <br />
</form>
</div>
