@page
@model MicroFund.Pages.Applicant.Dashboard.IndexModel
@{
    ViewData["Title"] = "Applicant Dashboard";
    ViewData["Dashboard"] = "Applicant Dashboard";
}

<style>
    td.eventItems {
        border-bottom: solid 1px #5900B3;
        padding-bottom: 12px;
        padding-top: 12px;
        padding-left: 7px;
    }
</style>

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6 offset-2">
                <a class="btn p-4 m-1 text-white text-center bg-gray-wsu" asp-page="/Applicant/Profile/Index" style="width:100%;">Profile</a>
                <a class="btn p-4 m-1 text-white text-center bg-gray-wsu" asp-page="/Applicant/FollowUp/Index" style="width:100%;">Follow-Ups</a>
                <a class="btn p-4 m-1 text-white text-center bg-gray-wsu" asp-page="/Applicant/MyApplications/Index" style="width:100%;">Applications</a>
                <a class="btn p-4 m-1 text-white text-center bg-gray-wsu" asp-page="/Applicant/Apply/Index" style="width:100%;">Apply</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-10 offset-1 mt-2 p-2 bg-pantone666-wsu">
                <h3 class="text-center">Upcoming Events</h3>
            </div>
            <div style="height:200px;width:600px;overflow:auto;">
                <table class="col-10 offset-1">
                    <tr>
                        <td class="eventItems">
                            March 10 - Applications Due
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            March 17 - Pitch Meeting
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            March 30 - Mentoring Review
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 1 - Pitch Meeting
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 7 - Mentoring Review
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 10 - Pitch Meeting
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 12 - Applications Due
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-4 offset-1 mt-5">
                <button type="button" class="btn p-4 m-1 text-white text-center bg-purple-wsu" style="width:100%;">New Event</button>
                <a asp-page="/Calendar" class="btn p-4 m-1 text-white text-center bg-purple-wsu" style="width:100%;">View Calendar</a>
            </div>
        </div>
    </div>
</div>

