@page
@model MicroFund.Pages.Mentor.Notes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meeting Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Company </label>
                <select asp-for="MentorNote.MentorAssignmentId" class="form-control" asp-items="ViewBag.MentorAssignmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MentorNote.MeetingDate" class="control-label"></label>
                <input asp-for="MentorNote.MeetingDate" class="form-control" asp-format="{0:yyyy-MM-dTHH:mm}" />
                <span asp-validation-for="MentorNote.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentorNote.MentorNoteFileAttachment"></label>
                <input type="file" class="form-control" name="files"/>
            </div>
            <div class="form-group">
                <label asp-for="MentorNote.Notes" class="control-label"></label>
                <textarea asp-for="MentorNote.Notes" class="form-control" style="height:200px;width:600px;"></textarea>
                <span asp-validation-for="MentorNote.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MentorNote.IsApproved" value="true" /> Applicant approved for grant review?
                </label>
            </div>
            <input asp-for="MentorNote.MentorAssignment" type="hidden" />
            <input asp-for="MentorNote.UpdatedBy" type="hidden" value="@Model.CurrentUserId" />
            <input asp-for="MentorNote.UpdatedDate" type="hidden" value="@DateTime.Now" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
