@page
@model MicroFund.Pages.Admin.Manage.ApplicationStatus.IndexModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Application Statuses</h2>

        </div>
        <div class="col-6 text-right">
            <a asp-page="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Is Archived
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var status in Model.ApplicationStatuses)
                {
                    <tr>
                        <td>
                            @status.StatusDescription
                        </td>
                        <td>
                            @status.IsArchived
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-page="/Admin/Manage/ApplicationStatus/Upsert" asp-route-id="@status.ApplicationStatusId">Update</a>
                            <a class="btn btn-outline-danger" asp-page="/Admin/Manage/ApplicationStatus/Delete" asp-route-id="@status.ApplicationStatusId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
