@page
@model MicroFund.Pages.Admin.User.IndexModel
@inject UserManager<IdentityUser> UserManager
@{
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Users</h2>

        </div>
        <div class="col-6 text-right">
            <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var user in Model.ApplicationUsers) {
                    <tr>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @Model.UserRoles[user.Email]
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-page="/Admin/User/Update">Update</a>
                            <a class="btn btn-outline-danger" asp-page="/Admin/User/Delete">Delete</a>
                            <form method="post">
                                @{
                                    if (user.LockoutEnd > DateTime.Now) {
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.Id">Unlock</button>
                                    } else {
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.Id">Lock</button>
                                    }
                                }
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>