@page
@model MicroFund.Pages.Mentor.Assignments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MentorAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MentorAssignment.MentorId" class="control-label"></label>
                <select asp-for="MentorAssignment.MentorId" class ="form-control" asp-items="ViewBag.MentorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MentorAssignment.ApplicationId" class="control-label"></label>
                <select asp-for="MentorAssignment.ApplicationId" class ="form-control" asp-items="ViewBag.ApplicationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MentorAssignment.DateAssigned" class="control-label"></label>
                <input asp-for="MentorAssignment.DateAssigned" class="form-control" />
                <span asp-validation-for="MentorAssignment.DateAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentorAssignment.ApprovedToPitchDate" class="control-label"></label>
                <input asp-for="MentorAssignment.ApprovedToPitchDate" class="form-control" />
                <span asp-validation-for="MentorAssignment.ApprovedToPitchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentorAssignment.UpdatedBy" class="control-label"></label>
                <input asp-for="MentorAssignment.UpdatedBy" class="form-control" />
                <span asp-validation-for="MentorAssignment.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentorAssignment.UpdatedDate" class="control-label"></label>
                <input asp-for="MentorAssignment.UpdatedDate" class="form-control" />
                <span asp-validation-for="MentorAssignment.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MentorAssignment.IsArchived" /> @Html.DisplayNameFor(model => model.MentorAssignment.IsArchived)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
