@page
@model MicroFund.Pages.AboutModel
@{
}

<div class="card border-dark col-md-12">
    <div class="card-body">
        <h1 class="card-title">Quarantined Coding</h1>
        <h5 class="card-title">Chelsea (Montana) Throne</h5>
        <p class="card-text">chelseathrone@mail.weber.edu - (801) 651-1385</p>
        <h5 class="card-title">Christopher Wright</h5>
        <p class="card-text">christopherwright2@mail.weber.edu - (385) 315-1771</p>
        <h5 class="card-title">Jeffrey Gradner</h5>
        <p class="card-text">Jeffreygradner@mail.weber.edu - (385) 207-4243</p>
        <h5 class="card-title">Kevin Reynolds</h5>
        <p class="card-text">kevinreynolds1@mail.weber.edu - (801) 540-3198</p>
        <h5 class="card-title">Luke Munk</h5>
        <p class="card-text">lukemunk@mail.weber.edu - (801) 516-8013</p>
        <h5 class="card-title">Samuel Romine</h5>
        <p class="card-text">samuelromine@mail.weber.edu - (916) 581-3570</p>
    </div>
</div>