<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/images/MF.png" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewData["Title"] - MicroFund</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-purple-wsu mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"> <img src="~/images/WildcatMicrofund_horizontal-01_transparent_white.png" alt="logo" style="width:117px;height:40px;" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Utility.StaticDetails.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">Manage</a>
                                <div class="dropdown-menu bg-purple-wsu">
                                    <a class="dropdown-item text-white" asp-page="/Admin/User/Index">Users</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/AddressTypes/Index">Address Types</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/ContactTypes/Index">Contact Types</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/ApplicationStatuses/Index">Application Status</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/Questions/Index">Questions</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/QuestionCategories/Index">Question Categories</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/ScoreCardFields/Index">Score Card Fields</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/ScoringCategories/Index">Scoring Categories</a>
                                    <a class="dropdown-item text-white" asp-page="/Admin/Manage/FollowUpTypes/Index">Follow Up Types</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(Utility.StaticDetails.ApplicantRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Applicant/Profile/Index">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Applicant/MyApplications/Index">My Applications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Applicant/Apply/Index">Apply</a>
                            </li>
                        }
                    </ul>
                    @if (User.IsInRole(Utility.StaticDetails.JudgeRole))
                    {
                        <div class="row" style="text-align:center;">
                            <h3 class="text-white align-middle">&nbsp;&nbsp;&nbsp;Judge Dashboard</h3>
                        </div>
                    }
                    @if (User.IsInRole(Utility.StaticDetails.MentorRole))
                    {

                        @*<a class="nav-link text-white" asp-page="/Mentor/Assignments/Index">Assignments</a>*@
                        <div class="row" style="text-align:center;">
                            <h3 class="text-white align-middle">&nbsp;&nbsp;&nbsp;Mentor Dashboard</h3>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MicroFund - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://unpkg.com/@@sgratzl/chartjs-chart-boxplot"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
