@page
@model MicroFund.Pages.Mentor.Dashboard.IndexModel
@{
}

<style>
    td.eventItems {
        border-bottom: solid 1px #5900B3;
        padding-bottom: 12px;
        padding-top: 12px;
        padding-left:7px;
    }
</style>

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6 offset-2">
                <button type="button" class="btn p-4 m-1 text-white text-center bg-gray-wsu" style="width:100%;">Edit Profile</button>
                <button type="button" class="btn p-4 m-1 text-white text-center bg-gray-wsu" style="width:100%;">Access Business Dashboard</button>
                <button type="button" class="btn p-4 m-1 text-white text-center bg-gray-wsu" style="width:100%;">Review Applications</button>
                <a asp-page="/Mentor/Notes/Index" class="btn p-4 m-1 text-white text-center bg-gray-wsu" style="width:100%;">Mentor Notes</a>
                <button type="button" class="btn p-4 m-1 text-white text-center bg-gray-wsu" style="width:100%;">Access Reports</button>
                <button type="button" class="btn p-4 m-1 text-white text-center bg-gray-wsu" style="width:100%;">Edit Business Phase</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-10 offset-1 mt-2 p-2 bg-pantone666-wsu">
                <h3 class="text-center">Upcoming Events</h3>                
            </div>
            <div style="height:200px;width:600px;overflow:auto;">
                <table class="col-10 offset-1">
                    <tr>
                        <td class="eventItems">
                            March 10 - Applications Due
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            March 17 - Pitch Meeting
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            March 30 - Mentoring Review
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 1 - Pitch Meeting
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 7 - Mentoring Review
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 10 - Pitch Meeting
                        </td>
                    </tr>
                    <tr>
                        <td class="eventItems">
                            April 12 - Applications Due
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-4 offset-1 mt-5">
                 <button type="button" class="btn p-4 m-1 text-white text-center bg-purple-wsu" style="width:100%;">New Event</button>
                 <a asp-page="/Calendar" class="btn p-4 m-1 text-white text-center bg-purple-wsu" style="width:100%;">View Calendar</a>             
            </div>
        </div>
    </div>
</div>

